/*
  white : #FAFFFD
  black : #342e37
  orange : #fa824c
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  border: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background: #FAFFFD;
}

/* .............. NAVIGATION      BAR..................*/
nav{
  position: sticky;
  top:0;
  z-index: 10;

  font-family: 'Poppins',sans-serif;

  height: 60px;
  width: 100%;

  display: flex;

  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  box-shadow: 0px 1px 10px rgba(64, 224, 208, 0.678);
}
nav a{
  text-decoration: none;
}
#logo{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
.listnav{
  display: flex;
  justify-content: center;
}
.optnav{
  font-size: 20px;
  font-weight: 200;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0px 20px;

  color: #ffffff;
  cursor:default;
}
.optnav i{
  width: 0px;
  display: none;
}
nav ul{
  position: absolute;
  top: 60px;
  z-index: 10;

  margin: 0;
  padding: 0;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  box-shadow: 0px 0px 5px black;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 100%);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
nav li{
  list-style: none;
  
  text-align: center;
  padding: 15px 10px;
  min-width: 130px;

  border-top: 1px solid rgba(99, 99, 99, 0.658);
  
  cursor: pointer;
}
nav li a{
  color:#ffffff;
  font-size: 20px;
}
/*------------------------Nav search form--------------------*/
nav form{
  display: flex;
  
  margin-right: 15px;
  height: 60%;
  border-radius: 30px;

  background-color:#ffffff;
}
nav input{
  padding-left: 8px;
  width: 100%;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  font-size: 20px;

  outline: none;
}
nav button{
  border: transparent;
  background-color: transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  padding: 0px 8px;

  color: rgb(78, 78, 78);
}
#search{
  width: 100%;
  display: block;
}
/*----------------------Nav hover effects-------------------*/
.listnav:hover .optnav{
  background-color: rgb(51, 51, 51);
  color: rgb(183, 183, 253);

  transition: 0.2s ease-in-out;
}
.listnav:hover ul{
  opacity: 1;
  visibility: visible;

  transition: 0.3s ease-in-out;
}
.listnav li:hover{
  color:whitesmoke;
  background-color: #fde74c;
  background-image: linear-gradient(319deg, #fde74c 0%, #32ff7a 37%, #2fcbe0 100%);
}
.listnav li:hover a{
  color:black;
}

/*---------------------------max-width 992px   --------------------------*/
@media (max-width:992px) {
  nav{
    padding: 5px 0px;
    
    justify-content: space-around;
    align-items: center;
  }
  #logo{
    flex-grow: 0;
  }
  nav form{
    position: absolute;
    
    top: 70px;
    left: 0px;
    width: 100%;

    border-bottom: 2px solid black;
    border-radius: 0px;

    box-shadow: 0px 0px 5px black;
    box-sizing: border-box;

    visibility: hidden;
    opacity: 0;

    transition: 0.1s ease-in-out;
  }
  .optnav{
    padding: 5px;
    text-align: center;

    width: 41px;
    height: 41px;

    border-radius: 100px;  
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
  }
  .optnav p{
    display: none;
  }
  .optnav i{
    width: 100%;

    display: block;
    color: black;
  }
  nav ul{
    position: absolute;
    top: 70px;
    right: 0px;
  }
  nav li{
    font-size: 25px;
  }
}
/*................. NAVIGATION      BAR      ENDS................*/


.popular{
  margin: 50px 0 50px 5vw;
  display: flex;
  height: auto;
  width: auto;
}

.popular .h1{
 flex-shrink: 0;
}

.popular .hr{
  margin: auto 10vw auto 20px;
  background: #d6d6d6;
  height: 2px;
  width: 100%;
}




/*                       Boxes                                    */
.boxes {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
}

.sub {
  margin: 1rem;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.sub:first-child {
  background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
}

.sub:nth-child(2) {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.sub:last-child {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.text-block {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/*                           /Boxes                                 */


/*                           /Cards                                 */
.cards {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.cards .c {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 18rem;
  border-width: 3px;
  border-image: linear-gradient(45deg, #0072ff 0%, #00d4ff 100%);
  border-image-slice: 9;
  border-style: solid;
  border-radius: 5%;
  height: 25rem;
  margin: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
}
.cards .c img {
  height: 100%;
  width: 102%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  margin: 0px;
  grid-row: 1/5;
}
.cards .c h2 {
  color: #fa824c;
  grid-row: 5/6;
}
.cards .c p {
  grid-row: 6/8;
  border-radius: 5%;
  background: white;
}
.cards .c .cbut {
  grid-row: 8/10;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.cards .c .cbut .dbutton {
  padding: 5px;
  font-size: 1.1rem;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 2px;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  box-shadow: 0 3px 15px -3px #363636;
}
.cards .c .cbut .dbutton:hover {
  padding: 5px;
  font-size: 1.1rem;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 2px;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  box-shadow: 0 3px 15px -3px #363636;
  cursor: pointer;
}

/*                            /Cards                                  */

/*                            Footer                                  */
.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  background: #222222;
  height: 5vh;
}
.fp{
  margin-left: 5px;
}
/*                            /Footer                                 */