/*
  white : #FAFFFD
  black : #342e37
  orange : #fa824c
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  border: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background: #FAFFFD;
}

.nav {
  background: #222222;
  height: 10vh;
  width: 100%;
}

h1 {
  width: 90vw;
  margin: 10px;
  position: relative;
  left: 5vw;
  top: 2vh;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
}

.sub {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.sub:first-child {
  background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
}

.sub:nth-child(2) {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.sub:last-child {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.text-block {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.cards {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.cards .c {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 18rem;
  border-width: 3px 3px 3px 3px;
  border-image: linear-gradient(45deg, #0072ff 0%, #00d4ff 100%);
  border-image-slice: 9;
  border-style: solid;
  border-radius: 5%;
  height: 25rem;
  margin: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
}
.cards .c img {
  height: 100%;
  position: relative;
  top: -0.1rem;
  left: -0.3rem;
  width: 18.5rem;
  padding: 0px;
  margin: 0px;
  grid-row: 1/5;
}
.cards .c h2 {
  color: #fa824c;
  grid-row: 5/6;
}
.cards .c p {
  grid-row: 6/8;
  border-radius: 5%;
  background: white;
}
.cards .c .cbut {
  grid-row: 8/10;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.cards .c .cbut .dbutton {
  padding: 5px;
  font-size: 1.1rem;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 2px;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  box-shadow: 2px 2px black;
}
.cards .c .cbut .dbutton:hover {
  padding: 5px;
  font-size: 1.1rem;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 2px;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  box-shadow: 0 3px 15px -3px #363636;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #222222;
  height: 5vh;
}