@mixin card{
    display: grid;
    grid-template-rows: repeat(9,1fr);
    grid-template-columns: 18rem;
    border: 4px green;
    border-radius: 5%;
    border-style: solid;
    height:25rem;
    margin: 10px;
    justify-content: center;
    text-align: center;
    padding: 0px;

    img{
        position: relative;
        left:-1.7px ;
        top:0.1px;
        padding: 0px; 
        margin: 0px;
        width: 18.21rem;
        border-radius: 5%;
        grid-row: 1/4;
    }

    h2{
        color: #fa824c;
        grid-row: 5/6;
    }

    p{
        grid-row: 6/8;
        border-radius: 5%;
        background: white;
    }

    .cbut{
        grid-row:8/10 ;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;




        .dbutton{
            font-size: 1.1rem;
            grid-column: 2/3;
            grid-row: 2/3;
            border-radius: 10%;
            background: #fa824c;
        }
    }
    
}