@import 'mixins.scss';
/*
  white : #FAFFFD
  black : #342e37
  orange : #fa824c
*/

*{
    margin: 0px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: #FAFFFD;
}

.nav{
    background:#222222;
    height:10vh;
    width: 100%;
}

h1{
    width: 90vw;
    margin: 10px;
    position: relative;
    left: 5vw;
    top: 2vh;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	.boxes {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 50px;
	}
	.sub{
		width: 200px;
		height: 100px;
		border-radius: 10px;
	}
	.sub:first-child{
		background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
	}
	.sub:nth-child(2){
		background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
	}
	.sub:last-child{
		background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	}
	.text-block{
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
		color: #fff;
		font-size: 1em;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
	}

.cards{

    height:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
    .c{
        @include card;
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #222222;
    height: 5vh;

}